* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  font-family: 'Abril Fatface';
}

.container a{
  color: #000;
  text-decoration: none;
}

/* Utility and common CSS */
.flx {
  display: flex;
}

#dice, #dice-one, #dice-two, #result, footer {
  text-align: center;
}
/* / Utility and common CSS */

/* INTESTAZIONE */
header, .title {
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 180px;
}

.logo img {
  width: 100%;
}

.title h1 {
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 2px solid #CCC;
  margin-bottom: 10px;
}

.title h2 {
  font-size: 22px;
}
/* / INTESTAZIONE */

/* CORPO PRINCIPALE */
#dice {
  width: 500px;
  position: relative;
  margin: auto;
}

.launch {
  height: 690px;
  background: url('../img/00-launch.jpg') center bottom no-repeat;
  background-size: contain;
}

.launch #game{
  display: none;
}

.launched #game{
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

#button {
  display: inline-block;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 50px 0;
  transition: 0.3s;
}

#button:hover {
  transform: scale(1.06);
}

#button:active {
  transform: scale(0.85);
}


#dice-one img, #dice-two img {
  margin-bottom: 25px;
  animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
  from { transform: rotate(360deg); }
}

#result {
  font-family: 'Tw Cen MT';
  font-size: 37px;
  color: #4A4A4A;
  text-transform: uppercase;
  margin-top: 20px;
}
/* / CORPO PRINCIPALE */

/* FOOTER */
footer {
  font-size: 12px;
  color: #808080;
  padding-top: 10px;
  border-top: 1px solid #808080;
  margin: 25px 0;
}
/* / FOOTER */
